<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="admin.index">
                Procura Alerta
            </a>
        </li>
        <li>
            <a ui-sref="admin.cursos">Cursos</a>
        </li>
        <li>
            <a ui-sref="admin.estagios">Estágios</a>
        </li>
        <li>
            <a ui-sref="admin.materiasOfertadas">Matérias Ofertadas</a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-click="adminCtrl.logOut()">Sair</a>
        </li>
    </ul>
</div>